<ion-modal-view class="detail">
    <ion-header-bar class="bar bar-stable" align-title="center">
        <button class="button button-clear ion-android-arrow-back close" ng-click="modal.hide()"></button>
        <h1 class="title">Дэлгэрэнгүй</h1>
    </ion-header-bar>
    <ion-content class="detailcontent" scroll="false">
        <div class="img" style="background-image:url({{contentdetail.img}});">
            <button class="button btn icon ion-play" id="rentbtn" ng-click="play()"></button>
        </div>
        <div class="other">
            <h3>{{contentdetail.name}}</h3>
            <table>
                <tr>
                    <td>Төрөл:</td>
                    <td ng-repeat="type in types" ng-if="type.id==contentdetail.type_id">{{type.name}}</td>
                </tr>
                <tr>
                    <td>Хугацаа:</td>
                    <td>{{contentdetail.time}}</td>
                </tr>
            </table>
            <button class="button download button-block" ng-click="download()">Татах</button>
            <p class="description" >{{contentdetail.description}}</p>
        </div>
    </ion-content>
</ion-modal-view>