<ion-view title="ТАТСАН">
    <ion-nav-buttons side="left" >
        <button class="button sidemenu" ng-click="goBack()">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="download" has-bouncing="true">
        <div class="download-list" ng-click="watch(1)">
            <div class="img" style="background-image:url('img/slide.jpg');">
            </div>
            <div class="other">
                <h3>LOGAN</h3>
                <table>
                    <tr>
                        <td>Төрөл:</td>
                        <td>Адал явдалт</td>
                    </tr>
                    <tr>
                        <td>Хугацаа:</td>
                        <td>1ц 50мин</td>
                    </tr>
                    <tr>
                        <td>Он:</td>
                        <td>2017</td>
                    </tr>
                </table>
                <p class="description">119MB / 0% ТАТСАН</p>
            </div>
        </div>
        <div class="download-list" ng-click="watch(2)">
            <div class="img" style="background-image:url('img/slide.jpg');">
            </div>
            <div class="other">
                <h3>LOGAN</h3>
                <table>
                    <tr>
                        <td>Төрөл:</td>
                        <td>Адал явдалт</td>
                    </tr>
                    <tr>
                        <td>Хугацаа:</td>
                        <td>1ц 50мин</td>
                    </tr>
                    <tr>
                        <td>Он:</td>
                        <td>2017</td>
                    </tr>
                </table>
                <p class="description">119MB / 0% ТАТСАН</p>
            </div>
        </div>


    </ion-content>
</ion-view>