<ion-view title="">
    <ion-nav-buttons side="left" >
        <button class="button sidemenu" menu-toggle="left">
            <i class="icon ion-navicon-round"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" >
        <button class="button sidemenu" ng-click="tocontents()">
            ONLINE <i class="icon ion-android-download"></i>
        </button>
    </ion-nav-buttons>
    
    <ion-content class="download" has-bouncing="true">
        <ion-toggle toggle-class="toggle-assertive" style="margin:-10px;background:none;color:white;border:none;border-bottom:#333 1px solid;" ng-click="ot()" ng-checked="false"><i class="icon ion-ios-list"></i></ion-toggle>
        <div ng-if="dc.length==0&&downloadstatus==''" style="padding-top:20%;">
            <br/>
            <center>
                <span class="ion-ipod" style="font-size:50px;color:white;"></span><br/><b style="color:white;">Татагдсан видео байхгүй байна.</b>
                <p style="color:white;margin-top:8px;line-height:15px;margin-left:10%;margin-right:10%;font-size:12px;font-family: 'Ubuntu Regular';">Та хүссэн видеогоо татаж интернетгүй орчинд ч үзэх боломжтой.</p>
            </center>
        </div>
        <ul ng-if="gv==false" class="list cld">
            <li class="item nrml" ng-repeat="d in dc" ng-click="detailo(d.id)">
                  <span>{{d.name}}</span> <i class="ion-ios-arrow-right"></i>
            </li>
        </ul>
        <div ng-if="downloadstatus!==''" class="download-list" >
            <div class="img" style="background-image:url(img\\loading.gif);" bimg="{{downloadimg}}">
            </div>
            <div class="other">
                <h3>{{downloadname}}</h3>
                <table>
                    <tr>
                        <td>Төрөл:</td>
                        <td>{{downloadtypen}}</td>
                    </tr>
                    <tr>
                        <td>Оруулсан:</td>
                        <td>{{downloadtime}}</td>
                    </tr>
                </table>
                <p class="description">{{downloadstatus}}</p>
            </div>
        </div>
        <div ng-if="gv==true" class="download-list" ng-repeat="d in dc" ng-click="detailo(d.id)">
            <div class="img" style="background-image:url(img\\loading.gif);" bimg="{{d.img}}">
            </div>
            <div class="other">
                <h3>{{d.name}}</h3>
                <table>
                    <tr>
                        <td>Төрөл:</td>
                        <td>{{d.typen}}</td>
                    </tr>
                    <tr>
                        <td>Хугацаа:</td>
                        <td>{{d.time}}</td>
                    </tr>
                </table>
                <div style="font-family: 'Ubuntu Regular';color:white;font-weight:normal;font-size:10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{d.description}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>