<ion-view title="{{logo}}">
    <ion-nav-buttons side="left" >
        <button class="button button-clear ion-ios-arrow-back close" ng-click="back()">
        </button>
    </ion-nav-buttons>
    <ion-content class="login" has-bouncing="false">
        <center ng-show="loginpage" class="animated fadeIn">
            <input ng-model="user.name" type="text" placeholder="НЭВТРЭХ НЭР">
            <input ng-model="user.pwd" type="password" placeholder="НУУЦ ҮГ">
            <button class="button submit" ng-click="login(user)">НЭВТРЭХ</button>
            <button class="button signup" ng-click="signuppageshow()">Бүртгүүлэх</button>
            <p class="signup">Та mglradio.com-веб сайтын бүртгэлээр нэвтэрнэ үү.</p>
            <button class="button forget" ng-click="forgetpageshow()">Нууц үгээ мартсан уу?</button>
        </center>
        <center ng-show="signuppage" class="animated fadeIn">
            <input ng-model="newUser.user_id" type="text" placeholder="НЭВТРЭХ НЭР" >
            <input ng-model="newUser.email" type="email" placeholder="МЭЙЛ ХАЯГ" >
            <input ng-model="newUser.pwd" type="password" placeholder="НУУЦ ҮГ" >
            <input ng-model="newUser.confirm" type="password" placeholder="НУУЦ ҮГ ДАВТАХ" >
            <button class="button submit" ng-click="signup(newUser)">БҮРТГҮҮЛЭХ</button>
        </center>
        <center ng-show="forgetpage" class="animated fadeIn">
            <input ng-model="forget.email" type="email" placeholder="БҮРТГЭЛТЭЙ МЭЙЛ"> 
            <button class="button submit" ng-click="forget(forget)">СЭРГЭЭХ</button>
        </center>
    </ion-content>
</ion-view>