<ion-view title="{{logo}}">
    <ion-content class="login" scroll="false">
        <center>
            <input ng-model="user.name" type="text" placeholder="Нэвтрэх нэр">
            <input ng-model="user.pwd" type="password" placeholder="Нууц үг">
            <button class="button submit" ng-click="login(user)">НЭВТРЭХ</button>
            <button class="button facebook" ng-click="facebooklogin()">FACEBOOK-р НЭВТРЭХ</button>
            <button class="button signup" ng-click="signup()">Бүртгүүлэх</button>
            <button class="button forget" ng-click="forget()">Нууц үгээ мартсан уу?</button>
        </center>
    </ion-content>
</ion-view>