<ion-side-menus enable-menu-with-back-views="false">
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable" align-title="center">
        </ion-nav-bar>
        <ion-tabs class="bottom-tab">

            <ion-tab title="УНШИХ" icon-off="ion-android-menu" icon-on="ion-android-menu" href="#/app/news">
                <ion-nav-view name="newsContent"></ion-nav-view>
            </ion-tab>

            <ion-tab title="СОНСОХ" icon-off="ion-radio-waves" icon-on="ion-radio-waves" href="#/app/radio">
                <ion-nav-view name="radioContent"></ion-nav-view>
            </ion-tab>

            <ion-tab title="ҮЗЭХ" badge="status" icon-off="ion-ios-play-outline" icon-on="ion-ios-play-outline" href="#/app/tv">
                <ion-nav-view name="tvContent"></ion-nav-view>
            </ion-tab>

            <ion-tab title="ТАТАХ" icon-off="ion-camera" icon-on="ion-camera" href="#/app/content">
                <ion-nav-view name="contentContent"></ion-nav-view>
            </ion-tab>

        </ion-tabs>
        
    </ion-pane>
    
    <ion-side-menu side="left" class="leftsidemenu">
        <ion-content has-bouncing="true">
            <ion-list>
                <ion-header class="user" ng-show="loginstatus">
                    <center>
                        <div class="img">
                            <img src="img/user.png">
                        </div>
                        <h4>{{username}}</h4>
                        <p ng-click="tologout()">Гарах</p>
                    </center>
                </ion-header>
                <ion-header class="user" ng-show="!loginstatus">
                    <center>
                        <div class="img">
                            <img src="img/user.png">
                        </div>
                        <p menu-close ng-click="tologin()">Нэвтрэх</p>
                    </center>
                </ion-header>
                <ion-item menu-close href="#/app/news">
                    Эхлэл
                </ion-item>
                <ion-item menu-close href="#/app/category/{{c.id }}" ng-repeat="c in categories">
                    {{c.name}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>