<ion-modal-view class="payment">
    <ion-content scroll="false">
        <div class="header">
            <h4>ТӨЛБӨР ТӨЛӨХ</h4>
            <p>
                Та сарын багц <b>10400₮</b> төгрөг <b>А10078</b> бүртгэлийн дугаараас шилжүүлнэ үү.
            </p>
        </div>
        <div class="body">
            <div class="bank">
                <img src="img/khan.jpg">
                <p>ХААН</p>
                <p>5000100088</p>
            </div>
            <div class="bank">
                <img src="img/golomt.jpg">
                <p>Голомт</p>
                <p>5000100088</p>
            </div>
            <div class="bank">
                <img src="img/tdb.jpg">
                <p>Худалдаа хөгжил</p>
                <p>5000100088</p>
            </div>
            <div class="bank">
                <img src="img/xac.jpg">
                <p>Хас</p>
                <p>5000100088</p>
            </div>
        </div>
        
        <div class = "bar bar-footer">
            <button class="close" ng-click="paymentmodal.hide()">ХААХ</button>
        </div>
        
    </ion-content>
</ion-modal-view>