 <ion-modal-view class="playlist">
    <ion-header-bar>
      <center style="width:100%;">12345</center>
         <button class="button button-clear" ng-click="closeType()"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
    </ion-header-bar>
    <ion-content has-bouncing="true">
      <ion-list>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 1</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 2</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 3</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 4</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 5</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 6</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 7</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 8</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 9</li>
          <li class="item"><i class="fa fa-play-circle" aria-hidden="true"></i> 10</li>
      </ion-list>
    </ion-content>
</ion-modal-view>