 <ion-modal-view class="playlist">
    <ion-header-bar>
      12345
    </ion-header-bar>
    <ion-content>
      <ion-list>
          <li class="item">1</li>
          <li class="item">2</li>
          <li class="item">3</li>
          <li class="item">4</li>
          <li class="item">5</li>
          <li class="item">6</li>
          <li class="item">7</li>
          <li class="item">8</li>
          <li class="item">9</li>
          <li class="item">10</li>
      </ion-list>
    </ion-content>
</ion-modal-view>