<ion-view title="{{logo}}">
    <ion-content class="signup" scroll="false">
        <center>
            <input ng-model="newUser.name" type="text" placeholder="Нэвтрэх нэр" >
            <input ng-model="newUser.email" type="email" placeholder="И-мейл" >
            <input ng-model="newUser.pwd" type="password" placeholder="Нууц үг" >
            <input ng-model="newUser.confirm" type="password" placeholder="Нууц үг давтах" >
            <button class="button submit" ng-click="submit(newUser)">БҮРТГҮҮЛЭХ</button>
        </center>
    </ion-content>
</ion-view>