@font-face
{
    font-family: Ubuntu Regular;
    src: url(../fonts/Ubuntu-R.ttf);
}
@font-face
{
    font-family: Ubuntu Bold;
    src: url(../fonts/Ubuntu-B.ttf);
}
*
{
    font-family: 'Ubuntu Bold';
}
.bar.bar-stable
{
    color: #fff;
    /*border-color: #ff004a;*/
    background-color: #ba0035;
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
    box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
    height: 60px; 
}
.bar-stable .button
{
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}
.bar-stable .button:hover, .button:focus, .button:active, .button:visited
{
    opacity: .8;
    color: #fff;
    border-color: transparent;
    background-color: transparent;
}
.has-header
{
    top: 60px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>*
{
    margin-top: 0px;
}
.bar .title
{
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bar .title p
{
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff !important;
}
.bottom-tab .tab-nav.tabs
{
    color: #fff;
    background-color: #1e1e26;
    height: 70px; 
    border: none !important; 
    padding: 0px;
}
.bottom-tab a.tab-item
{
    border: 1px solid #161619;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
}
.bottom-tab.tabs-striped .tab-item.activated, .bottom-tab.tabs-striped .tab-item.active, .bottom-tab.tabs-striped .tab-item.tab-item-active
{
    margin-top: 0px;
    border: 1px solid #161619;
    background-color: #ba0035;
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
    box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
}
.bottom-tab a.tab-item.tab-item-active
{
    margin-top: 0px;
    border: 1px solid #161619;
    background-color: #ba0035;
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
    box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1);
}
.overflow-scroll>.scroll
{
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
.overflow-scroll .scroll
{
    position: static;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
}
.bottom-tab .tab-item .icon
{
    display: block;
    margin: 0 auto;
    height: 25px;
    font-size: 45px;
}
.bottom-tab span.tab-title.ng-binding
{
    font-family: 'Ubuntu Bold';
    font-size: 8px;
}
.bar-footer.has-tabs, .has-tabs
{
    bottom: 70px;
}
.live
{
    background:#ba0035;
    color:#FFFFFF;
    padding:3px;
    border-radius:3px;
    font-weight:bold;
    font-size: 0.75em;
    display:block;
    line-height:10px;
    position:absolute;
    top: -10px;
    left: 30px;
}
.leftsidemenu
{
    background-color: #1e1e26;
}
.leftsidemenu .list:first-child
{
    border-top: 1px solid #2D2D35;
}
.leftsidemenu .list .item
{
    border: none;
    border-bottom: 1px solid #2D2D35;
    margin: 0;
    font-size: 16px;
    font-family: "Ubuntu Regular";
}
.leftsidemenu .list .item a
{
    background-color: #1e1e26;
    color: #fff;
    padding: 14px;
}
.leftsidemenu .user
{
    padding:0px;
    
}
.leftsidemenu .user .img
{
    border: 3px solid #fff;
    width: 25%;
    border-radius: 40px;
    margin-top:20px;
}
.leftsidemenu .user img
{
    width: 100%;
    padding:10px;
}
.leftsidemenu .user h4
{
    color: #fff;
    margin:0px;
} 
.leftsidemenu .user p
{
    color: #ba0035;
    font-family: "Ubuntu Regular";
    font-size: 12px;
}

.ion-android-menu:before
{
    background-image: url('../img/menu.png') !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 55px;
    content: "";
} 
.ion-radio-waves:before
{
    background-image: url('../img/radio.png') !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 55px;
    content: "";
}
.ion-ios-play-outline:before
{
    background-image: url('../img/camera.png') !important;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    width: 30px;
    height: 55px;
    content: "";
} 
.ion-camera:before
{
    background-image: url('../img/tv.png') !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px; 
    height: 55px;
    content: "";
}
.newsdiv
{
    background-color: #e5e5e5;
}
.newsdiv .list .item
{
    background-color: #F3F3F3;
    border: none;
    padding: 0px;
    margin-bottom: 5px;
}
.newsdiv ion-list:nth-child(2) .left
{
    width: 100%;
}
.newsdiv ion-list:nth-child(2) .left img
{ 
    width: 100%;
    height: auto;
}
.newsdiv ion-list:nth-child(2) .right
{
    width: 100%;
}
.newsdiv ion-list:nth-child(2) .right h3
{
    font-size: 17px;
    text-align: left;
    min-height: 0;
}
.newsdiv ion-list .left
{
    width: 50%;
    float: left;
}
.newsdiv ion-list .left img
{ 
    width: 100%;
    height: 100px;
}
.newsdiv ion-list .right
{
    width: 50%;
    float: right;
    padding: 5px;
    padding-bottom: 0;
}
.newsdiv ion-list .right h3
{
    color: #000;
    font-size: 16px;
    min-height: 60px;
    white-space: normal;
    letter-spacing: -1;
}
.newsdiv ion-list .right .timeago
{ 
    font-size: 11px; 
    color: #9C9C9C;
    font-family: 'Ubuntu Regular';
    padding: 0px;
    padding-right: 5px;
}
.newsdiv ion-list .right .border
{
    color: #9C9C9C;
    font-size: 11px;
    font-family: "Ubuntu Regular";
    padding: 0px;
    margin: 0px;
}
.newsdiv ion-list .right .category
{
    font-size: 11px; 
    color: #c10033;
    font-family: 'Ubuntu Regular';
    padding-left: 5px;
}
.newsdetail
{
    background-color: #e5e5e5;
}
.newsdetail img
{ 
    width: 100%;
    height: auto;
    max-width:100%
}
.newsdetail .desc
{
    padding: 10px;
    padding-bottom: 0;
}
.newsdetail .desc h3
{
    font-size: 20px;
    text-align: left;
    min-height: 0;
}
.newsdetail .desc .timeago
{ 
    font-size: 11px; 
    color: #9C9C9C;
    font-family: 'Ubuntu Regular';
    padding: 0px;
    padding-right: 10px;
}
.newsdetail .desc .border
{
    color: #9C9C9C;
    font-size: 11px;
    font-family: "Ubuntu Regular";
}
.newsdetail .desc .category
{
    font-size: 11px; 
    color: #c10033;
    font-family: 'Ubuntu Regular';
    padding-left: 10px;
}
.newsdetail .content
{
    padding: 10px;
    margin-top:-75px;
    text-align: justify;
    font-size: 15px;
    background:#e5e5e5 !important;
}
.newsdetail .content p
{
    font-family: "Ubuntu Regular";
}
.newsdetail .content *
{
    background:#e5e5e5 !important;
}
.newsdetail .content img, iframe, embed
{
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.newsdetail .related ion-item.item
{
    padding: 10px;
}
.newsdetail .related .header h3
{
    padding: 10px;
    font-family: "Ubuntu Regular";
    background-color: #fff;
    margin: 0;
}
.newsdetail .related .left
{
    width: 40%;
    float: left;
}
.newsdetail .related .left img
{ 
    width: 100%;
    height: 100px;
}
.newsdetail .related .right
{
    width: 50%;
    float: right;
    padding: 5px;
    padding-bottom: 0;
}
.newsdetail .related .right h3
{
    color: #000;
    font-size: 16px;
    min-height: 60px;
    white-space: normal;
    letter-spacing: -1;
}
.newsdetail .related .right .timeago
{ 
    font-size: 11px; 
    color: #9C9C9C;
    font-family: 'Ubuntu Regular';
    padding: 0px;
    padding-right: 10px;
}
.newsdetail .related .right .border
{
    color: #9C9C9C;
    font-size: 11px;
    font-family: "Ubuntu Regular";
}
.newsdetail .related .right .category
{
    font-size: 11px; 
    color: #c10033;
    font-family: 'Ubuntu Regular';
    padding-left: 10px;
}
.radiodiv
{
    background: #0e0000  center center no-repeat;
    /*url(../img/bar.gif)*/
    background-size: cover;
    color: #ffffff;
    padding: 15px 10px;
}
.radiodiv button
{
    color: #fff;
    background: transparent;
    border: none;
    font-size: 20px;
}
.radiodiv button:hover, button:visited
{
    opacity: .8;
    color: #fff;
    background-color: transparent;
}
.radiodiv button:before
{
    font-size: 50px !important;
}
.radiodiv h5
{
    color: #fff;
    text-transform: uppercase;
}
#ioncontent
{
    background-color: #1e1e26;
}
.hutulburdiv
{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1e1e26;
    width: 100%;
}
.hutulburdiv .list .item
{
    background-color: #1e1e26;
    border: none;
    border-bottom: 1px solid #65656b;
    padding: 15px 10px;
}
.hutulburdiv .list .item.active
{
    background-color: #666666;
}
.hutulburdiv h2
{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
}
.hutulburdiv h2 p
{
    display: block;
}
.hutulburdiv p
{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: -0.5;
    width: 70%;
}
.hutulburdiv img
{
    display: inline-block;
    width: 25px;
    float: right;
}
.tv
{
    background: black;
}
.tv center
{
    color: white;
}
.tv .playbtn
{
    position: relative;
    top: 50%;
    color: #fff;
    background: transparent;
}
.tv .playbtn img
{ 
    width: 50px;
}
@-webkit-keyframes blinker {  
0% { opacity: 1.0; }
25% { opacity: 0.5; }
50% { opacity: 0.0; }
75% { opacity: 0.5; }
100% { opacity: 1.0; }
}

.bl
{
    -webkit-animation-name: blinker; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 10s; 
}
.badge
{
    background: red !important;
    -webkit-animation-name: blinker; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 5s; 
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
}
.rent
{
    background: #292931;
    color: #fff;
}
.top-tab .tab-item .icon
{
    display: none;
    margin: 0 auto;
    height: 0px;
    font-size: 0px;
}
.top-tab span.tab-title.ng-binding
{
    font-family: 'Ubuntu Bold';
    font-size: 10px;
}
.top-tab .tab-nav.tabs
{
    position: relative;
    height: 40px;
    line-height: 35px;
}
.top-tab.tab-item.activated, .top-tab.tab-item.active, .top-tab .tab-item.tab-item-active
{
    border: 1px solid transparent !important;
    border-bottom: 1px solid #fff !important;
}
.top-tab.tabs-striped .tab-item.activated, .top-tab.tabs-striped .tab-item.active, .top-tab.tabs-striped .tab-item.tab-item-active
{
    border: 1px solid transparent !important;
    border-bottom: 1px solid #fff !important;
}
.top-tab a.tab-item
{
    border: 1px solid transparent !important;
    background-color: #ba0035 !important;
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1) !important;
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1) !important;
    box-shadow: inset 0px -2px 5px 0px rgba(255, 0, 72, 1) !important;
    max-width: 250px !important;
    opacity: 1 !important;
    
}
.top-tab .has-tabs
{
    bottom: 27px !important;
}
.top-tab .tab-title
{
    line-height:30px;
    font-size:10px !important;
}
.top-tab .span
{
    color:#CCCCCC;
    font-weight:normal;
    font-size:8px;
    display:block;
    line-height:8px;
    margin-top:-10px;
}
.rent .rli
{
    background: transparent;
    border: none;
    padding: 0;
}  
.rent .rli .name
{
    display: inline-block;
    color: #fff;
    text-transform: initial;
    padding: 10px;
    letter-spacing: -1;
    font-family: "Ubuntu Regular";
}
.cl .head
{
    font-size:0.9em;
    font-weight:normal;
    text-align:center;
}
.cl .nrml
{
    padding-top:10px;
    padding-bottom:10px;
}
.cl .nrml span
{
    font-size:0.8em;
    font-weight:100;
}
.cl .nrml i
{
    float:right;
}
/*.rent .list .item.grid
{
width: 33% !important;
margin: 0;
padding: 5px;
background: transparent !important;
display: inline-block;
}
.rent .list .item.grid .img
{
border: 1px solid #ba0035;
width: 100%;
min-height: 35%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.rent .list .item.grid p
{
color: #fff;
font-size: 3vw;
text-align: center;
text-transform: uppercase;
min-height: 30px;
white-space: normal;
letter-spacing: -1;
line-height: 12px;
}*/

.myslides
{
    margin: 0;
    padding: 0;
    height: 40%;
}
        
.swiper-container
{
    width: 100%;
    height: 100%;
}
        
.swiper-slide
{
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
    padding-bottom: 30px;
}
.swiper-slide .img
{
    border: 1px solid #161619;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-slide .slide-caption
{
    color: #fff;
    font-size: 3vw;
    text-align: center;
    min-height: 30px;
    white-space: normal;
    letter-spacing: -1;
    line-height: 15px; 
    width: 100%; 
}
.detail.modal
{
    min-height: 100%;
    width: 100%;
    background: #292931;
    color: #fff;
    -webkit-box-shadow: 0px 13px 59px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 59px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 59px -1px rgba(0, 0, 0, 0.75);
}
.bar-stable .button.button-clear.close
{
    color: #fff;
    border-color: transparent;
    background-color: transparent;
    font-size: 25px;
    width: 60px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px !important;
}
.detail .bar.bar-stable .title
{
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px !important;
}
.detail .detailcontent .img
{
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px -63px 59px -31px rgba(41, 41, 49, 1);
    -moz-box-shadow: inset 0px -63px 59px -31px rgba(41, 41, 49, 1);
    box-shadow: inset 0px -63px 59px -31px rgba(41, 41, 49, 1);
}
.detail .detailcontent .other
{
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}
.detail .detailcontent .other h3
{
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
}
.detail .detailcontent .other table tr td
{
    font-size: 11px;
}
.detail .detailcontent .other table tr td:first-child
{
    color: #666666;
    padding-right: 10px;
}
.detail .detailcontent .other table tr td:last-child
{
    color: #666666;
    font-family: 'Ubuntu Regular';
}
.detail .detailcontent .other p
{
    font-family: 'Ubuntu Regular';
    font-size: 11px;
    margin-top: 10px;
}
.detail .detailcontent .btn
{
    background: transparent;
    color: #fff;
    min-width: 100%;
    min-height: 100%;
}
.detail .detailcontent .btn:before
{
    padding: 15px 20px;
    border: 4px solid #e9e9e9;
    border-radius: 35px;
    line-height: 25px;
}
.login
{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login input
{
    width: 70%;
    border-radius: 10px;
    text-align: center;
    padding: 0 20px;
    margin: 10px;
    background: #212127;
    color: #fff;
    font-size: 13px;
}
.login .submit
{
    background-color: #f93430;
    color: #fff;
    width: 50%;
    display: block;
    border-radius: 10px;
    min-height: 35px;
    line-height: 15px;
    margin: 10px;
    font-family: 'Ubuntu Regular';
    font-size: 11px;
    margin-top: 5%;
    border: 1px solid #821512;
    -webkit-box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
}
.detailcontent .download
{
    background-color: #f93430;
    color: #fff;
    display: block;
    border-radius: 10px;
    min-height: 35px;
    line-height: 15px;
    font-family: 'Ubuntu Regular';
    font-size: 11px;
    border: 1px solid #821512;
    -webkit-box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
}
.login .signup
{
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    width: 50%;
    display: block;
    border-radius: 20px;
    min-height: 35px;
    line-height: 15px;
    margin: 10px;
    font-family: 'Ubuntu Regular';
}
.login .forget
{
    background: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5%;
    width: 50%;
    display: block;
    border-radius: 20px;
    min-height: 35px;
    line-height: 15px;
    font-family: 'Ubuntu Regular';
}
.login center
{
    height: 100%;
    padding-top: 20%;
}
.search
{
    background: #292931;
}
.searchinput
{
    width: 100%;
    padding-left: 10px !important;
    border-radius: 5px;
    font-size: 12px !important;
    margin-top: 10px;
    line-height: 14px !important;
    vertical-align: bottom !important;
}
.searchitem
{
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: inline-block;
    width: 33%;
    padding-bottom: 30px;
    background: transparent;
    border: 0;
}
.searchitem .img
{
    border: 1px solid #161619;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.searchitem .slide-caption
{
    color: #fff;
    font-size: 3vw;
    text-align: center;
    min-height: 30px;
    white-space: normal;
    letter-spacing: -1;
    line-height: 15px; 
    width: 100%; 
}
.searchitem.item.activated
{
    background: 0;
    border: none;
}
.bar.bar-stable .title
{
    color: #fff;
}
.download
{
    background-color: #1e1e26;
    padding: 10px;
}
.download-list
{
    margin-bottom: 10px;
}
.download .img
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    height: 21%;
    display: inline-block;
}
.download .other
{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.download .other h3
{
    color: #fff;
    font-size: 17px;
    margin-bottom: 5px;
}
.download .other table tr
{
    line-height: 13px;
}
.download .other table tr td
{
    font-size: 11px;
}
.download .other table tr td:first-child
{
    color: #666666;
    padding-right: 10px;
}
.download .other table tr td:last-child
{
    color: #666666;
    font-family: 'Ubuntu Regular';
}
.download .other .description
{
    color: #ba0035;
}
.modal-backdrop-bg
{
    background: rgba(0, 0, 0, 0.5);
}
.playlist
{
    background-color: #fff;
    width: 90%;
    min-height: 70%;
    position: absolute;
    left: 5%;
    top: 15%;
    border-radius: 15px;
}
.playlist ion-header-bar
{
    padding: 10px;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    border:none !important;
    background:none !important;
    
}
.playlist ion-content
{
    border-top:#CCC 1px solid !important;
}
.playlist .item
{
    font-family: 'Ubuntu Regular';
    border:none !important;
    padding-left:20px
}
.playlist .item i
{
    margin-right:10px;
}
.playlist .bar
{
    border:none !important;
}
.payment
{
    background-color: #fff;
    text-align: center;
    width: 90%;
    min-height: 70%;
    position: absolute;
    left: 5%;
    top: 15%;
    border-radius: 15px;
}
.payment .header
{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.payment .header h4
{
    font-size: 15px;
    font-family: 'Ubuntu Bold';
}
.payment .header p
{
    font-family: 'Ubuntu Regular';
    color: #666666;
    margin: 0 auto;
    width: 80%;
}
.payment .header b
{
    color: #000;
}

.payment .body .bank
{
    border-bottom: 1px solid #e8e8e8;
    padding: 5px;
}
.payment .body .bank img
{
    width: 15%;
    display: inline-block;
}
.payment .body .bank p
{
    width: 38%;
    display: inline-block;
    font-family: 'Ubuntu Regular';
    text-align: left;
    vertical-align: top;
    margin: 0;
    margin-top: 10px;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 10px;
    letter-spacing: -1;
}
.payment .body .bank p:last-child
{
    font-family: 'Ubuntu Bold';
    color: #666;
    text-align: right;
    padding-right: 10px;
}
.payment .bar-footer
{
    background-color: #f93430;
    -webkit-box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 67px 6px -66px rgba(255, 255, 255, 1);
}
.payment .bar-footer .close
{
    width: 100%;
    color: #fff;
    background: transparent;
    border: none;
    font-family: inherit;
}
.mylist
{
    position: fixed;
    bottom: 70px;
    width: 100%;
    height: 40px;
    z-index: 100;
}
.mylist button
{
    width: 100%;
    text-align: left;
    height: 100%;
    color: #fff;
    background: #2e2e33;
    border: 1px solid #18181c;
    border-left: none;
    border-right: none;
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(72, 72, 77, 1);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(72, 72, 77, 1);
    box-shadow: inset 0px 3px 0px 0px rgba(72, 72, 77, 1);
}
.mylist button i
{
    float: right;
    margin-top: 4px;
}